.container{
    height: 600px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 246, 246);
    border-style: dotted;
    margin:10px 10px 10px 10px;
    padding:10px;
    display :flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-image:url(assets/Nun\ 2\ gif.gif) ;
    background-position: center;
    background-size: cover;
    
}
form{
    border: 4px solid rgb(240, 233, 233);
    border-style: double;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    text-align: center;
    background;
    box-shadow: 5px 5px 15px grey;
    border-radius: 10px;
    

}
.container input{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
    display :flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 5px 5px 15px grey;
}
.logo{
    width: 600px;
    height: 280px;
    margin-top: 20px;
    
}

.login-container{
     height: 600px;
    background: linear-gradient(red, yellow);

    border: 2px solid rgb(0, 0, 0);
    border-style: dotted;
    margin:10px 10px 10px 10px;
    padding:10px;
    display :flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


    background-image:url(assets/Nun\ 2.jpg) ;
    background-position: center;
    background-size: cover;
}

.login-container input{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    display :flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 5px 5px 15px grey;
}
.header-container{
    padding: 10px;
    background-color: rgb(9, 9, 12);
    color: white;
    display: flex;
    gap: 550px;
    justify-content: space-evenly;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: -20px;
}
.head-container{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
    gap:20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: rgb(2, 2, 2);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: lightgray;

}
label{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
p{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;}
h1{
    font-weight: bold;  
    color: white;
}